<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
	<title>HNN</title>
</head>
<body>
	<div class='header'>
		<p><img class='logo' src='../static/resources/logo.jpg' align='left'/></p>
	</div>

	<h2 class='h2' align='center'>HOME NEURAL NET</h2>

	<div class='form' align="center">
		<form action='#'>
			<button class='button' type='submit' formaction='room1'>ROOM 1</button>
			<button class='button' type='submit' formaction='room2'>ROOM 2</button>
			<button class='button' type='submit' formaction='room3'>ROOM 3</button>
			<button class='button' type='submit' formaction='#room4'>ROOM 4</button>
			<button class='button' type='submit' formaction='#room5'>ROOM 5</button>
			<button class='button' type='submit' formaction='#room6'>ROOM 6</button>
		</form>
	</div>

</body>
</html>