<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
	<title>HNN</title>
</head>
<body>
	<div class='header'>
		<p><img class='logo' src='../static/resources/logo.jpg' align='left'/></p>
	</div>

	<div align='center'>
		<h2 class='h2'>ROOM 2</h2>
	</div>

	<div class='form' align="center">
		<form action='#'>
			<button class='button' type='submit' formaction='#light1'>LIGHT 1</button>
			<button class='button' type='submit' formaction='#light2'>LIGHT 2</button>
			<button class='button' type='submit' formaction='#fan1'>FAN 1</button>
			<button class='button' type='submit' formaction='#tv1'>TV 1</button>
			<button class='button' type='submit' formaction='/'>HOME</button>
		</form>
		</form>
	</div>

</body>
</html>